* {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#app-outer-container {
  height: 300px;
  width: 400px;
}

#app-inner-container {
  padding: 20px;
}

.replace-btn {
  font-weight: 500;
}

.navbar {
  padding: 0;
}
